In [2]:
# Imports
import pandas as pd

In [6]:
# Read the data files and see what the data looks like
mouse_data_path = 'data/Mouse_metadata.csv'
study_results_path = 'data/Study_results.csv'
mouse_df = pd.read_csv(mouse_data_path)
mouse_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [7]:
study_df = pd.read_csv(study_results_path)
study_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0